@model IEnumerable<Shared.Core.Dtos.Resources.PhotoResourceDto>

@using Client.Core.HtmlHelpers
@using Shared.Core.Constants
@using PagedList.Mvc
@using Shared.I18n.Constants

<div id="@HtmlConstants.LIST_PHOTOS">
    @if (Model != null && Model.Count() > 0)
    {
        <div class="row text-center">
            @foreach (var item in Model)
            {
                <div class="thumbnail-container">
                    <img src="@item.GetRelativeThumbnailFile()" alt="photo" class="thumbnail-image" />
                    <a href="@item.GetRelativeFilePath()" data-lightbox="gallery">
                        <div class="thumbnail-overlay">
                            <div class="thumbnail-text">
                                <i class="fa fa-search-plus"></i>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    }
</div>