@using Client.Core.HtmlHelpers
@using Shared.Core.Constants
@using Shared.I18n.Constants
@using Shared.I18n.Utils

@{
    ViewBag.Title = ResourceUtils.GetString(MessageKeyConstants.LABEL_EXHIBITIONS);
}

<div class="content-title">
    <h3>@Html.LocalizedDisplay(MessageKeyConstants.LABEL_EXHIBITIONS)</h3>
</div>

<div class="col-md-12">
    <div class="panel panel-violet panel-default with-nav-tabs">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab1" data-toggle="tab"><i class="fa fa-paint-brush"></i> @Html.LocalizedDisplay(MessageKeyConstants.LABEL_LIST)</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DialogActionLink("<i class='fa fa-plus'></i> " + ResourceUtils.GetString(MessageKeyConstants.LABEL_ADD_EXHIBITION), HtmlConstants.DIALOG_EXHIBITION, WebConstants.VIEW_CREATE_PREDEFINED, WebConstants.CONTROLLER_EXHIBITION, null, new { @class = "btn btn-sm btn-success pull-right" })
                        </div>
                    </div>
                       @Ajax.RemoteContent(WebConstants.VIEW_PAGED_LIST, WebConstants.CONTROLLER_EXHIBITION, WebConstants.AREA_ADMIN)                 
                </div>
            </div>
        </div>
    </div>
</div>