<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BujinkanModelContext" connectionString="metadata=res://*/Model.BujinkanModelContext.csdl|res://*/Model.BujinkanModelContext.ssdl|res://*/Model.BujinkanModelContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=d002747;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>